<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <link rel="stylesheet" href="/stylesheets/style.css">
    <title>@tigmanshu</title>
</head>
<body>
   <div class="w-full h-screen bg-zinc-600 flex items-center justify-center">
    <div class="form-box">
<form class="form" method="post" action="/login">
    <span class="title">Log in</span>
    <span class="subtitle">Login your account with your email.</span>
    <div class="form-container">
      		<input type="email" class="input" placeholder="Email" name="email" required>
			<input type="password" class="input" placeholder="Password" name="password" required>
    </div>
    <button type="submit" value="login" >Log in</button>
</form>
<div class="form-section">
  <p>Have not account? <a href="/">Create Here</a> </p>
</div>
</div>
</div>
</body>
</html>